:root{
    --text-color: #ffffff;
    --card-front-color:  #09683d;
    --cadrd-back-color: #15AE68;

}
body{
    background-image: url(img/teresa\ e\ arthur.jpg);

}
.cartao__conteudo{
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: tranform 300ms;
}
.cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}
.cartao:hover .cartao__conteudo{
    transform:rotateY(180deg) ;
}
.cartao__conteudo__pergunta,
.cartao__conteudo__resposta{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}
.cartao__conteudo__resposta{
    transform: rotateY(180deg);
}
