:root{
    --text-color: #ffffff;
    --card-front-color:  #09683d;
    --cadrd-back-color: #15AE68;

}
body{
    background-image: url(img/teresa\ e\ arthur.jpg);

}
.cartao__conteudo{
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: tranform 300ms;
}